# For more examples, including how to limit scans to only high-severity issues
# and fail PR checks, see https://github.com/snyk/actions/

name: Snyk Security

on:
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '17 5 * * 7'
      # Run Snyk on Sundays @ 05:17

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  snyk:
    permissions:
      actions: read
      contents: read
      statuses: read
      security-events: write
    runs-on: ubuntu-latest
    env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Snyk CLI to check for security issues
        uses: snyk/actions/setup@806182742461562b67788a64410098c9d9b96adb

      - name: PHP test
        uses: snyk/actions/php@master
        continue-on-error: true

        # Build the docker images for testing
      - name: Container monitor ~ PHP-FPM
        run: |
          docker image build -t wordpress-base-fpm:snyk .
        # Runs Snyk Container (Container and SCA) analysis.
      - name: Container monitor ~ analyse
        run: |
          snyk container monitor wordpress-base-fpm:snyk --file=Dockerfile

        # Push the Snyk Code results into GitHub Code Scanning tab
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk-code.sarif
